p.warning {
  background-color: $colorAlmod;
  padding: 0.5em;
  border-radius: 0.5em;
}

p.info {
  background-color: $colorMintGreen;
  padding: 0.5em;
  border-radius: 0.5em;
}

details.primary > summary {
  background-color: $primary-bg-subtle;
  color: $primary-text-emphasis;
}
details.primary {
  border: 2px solid $primary-border-subtle;
}

details.secondary > summary {
  background-color: $secondary-bg-subtle;
  color: $secondary-text-emphasis;
}
details.secondary {
  border: 2px solid $secondary-border-subtle;
}

details.success > summary {
  background-color: $success-bg-subtle;
  color: $success-text-emphasis;
}
details.success {
  border: 2px solid $success-border-subtle;
}

details.info > summary {
  background-color: $info-bg-subtle;
  color: $info-text-emphasis;
}
details.info {
  border: 2px solid $info-border-subtle;
}

details.warning > summary {
  background-color: $warning-bg-subtle;
  color: $warning-text-emphasis;
}
details.warning {
  border: 2px solid $warning-border-subtle;
}

details.danger > summary {
  background-color: $danger-bg-subtle;
  color: $danger-text-emphasis;
}
details.danger {
  border: 2px solid $danger-border-subtle;
}

details.light > summary {
  background-color: $light-bg-subtle;
  color: $light-text-emphasis;
}
details.light {
  border: 2px solid $light-border-subtle;
}

details.dark > summary {
  background-color: $dark-bg-subtle;
  color: $dark-text-emphasis;
}
details.dark {
  border: 2px solid $dark-border-subtle;
}

details > summary {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

details > summary > * {
  display: inline;
}

details {
  padding: 0.25rem;
  margin-bottom: 1rem;
}

details > div.content {
  padding: 0.5rem;
}

div.releases:has([id="channelStable"]:checked)
  table#tableReleases
  tr:not(.channelStable),
div.releases:has([id="channelRolling"]:checked)
  table#tableReleases
  tr:not(.channelRolling),
div.releases:has([id="channelDev"]:checked)
  table#tableReleases
  tr:not(.channelDev) {
  display: none;
}

div.releases:has([id="columnChannel"]:not(:checked))
  table#tableReleases
  tr
  :nth-child(2),
div.releases:has([id="columnDistribution"]:not(:checked))
  table#tableReleases
  tr
  :nth-child(3),
div.releases:has([id="columnVersion"]:not(:checked))
  table#tableReleases
  tr
  :nth-child(4),
div.releases:has([id="columnArchitecture"]:not(:checked))
  table#tableReleases
  tr
  :nth-child(5),
div.releases:has([id="columnComponent"]:not(:checked))
  table#tableReleases
  tr
  :nth-child(6),
div.releases:has([id="columnCompression"]:not(:checked))
  table#tableReleases
  tr
  :nth-child(7),
div.releases:has([id="columnSHA256Hash"]:not(:checked))
  table#tableReleases
  tr
  :nth-child(8) {
  display: none;
}

div.releases:has([id="architectureX8664"]:checked)
  table#tableReleases
  tr:not(.archx8664),
div.releases:has([id="architectureRPi4"]:checked)
  table#tableReleases
  tr:not(.archRPi4) {
  display: none;
}

div.releases:has([id="compressYes"]:checked)
  table#tableReleases
  tr:not(.compressYes),
div.releases:has([id="compressNo"]:checked)
  table#tableReleases
  tr:not(.compressNo) {
  display: none;
}

div.releases:has([id="componentKernel"]:checked)
  table#tableReleases
  tr:not(.componentKernel),
div.releases:has([id="componentImage"]:checked)
  table#tableReleases
  tr:not(.componentImage),
div.releases:has([id="componentInformation"]:checked)
  table#tableReleases
  tr:not(.componentInformation) {
  display: none;
}
