{{ define "partials/list_page_title" }}
  {{ $page := . }}
  {{ if $page.Params.show_date }}
    <span class="text-muted small">
      ({{ $page.Date.Format "2006-01-02" }})
      {{ " — " }}
    </span>
  {{ end }}
  <a href="{{ $page.Permalink }}">
    {{ $page.Title }}
  </a>
{{ end }}

{{ define "main" }}
  {{- $page := . -}}
  <main class="container">
    {{- if .Site.Params.options.breadCrumb }}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {{ partial "main/breadcrumb" . }}
        </ol>
      </nav>
    {{- end }}
    <article>
      <header>
        <h1>{{ .Title }}</h1>
      </header>
      {{ .Content }}
    </article>

    <ul>
      {{- $sections := .Sections.ByWeight -}}
      {{- $pages := (complement .Sections .Pages) -}}
      {{- if $page.Params.order_by_date -}}
        {{- $sections = (sort $sections "Date").Reverse -}}
        {{- $pages = (sort $pages "Date").Reverse -}}
      {{- end -}}
      {{- range $sections -}}
        {{- $section := . -}}
        <li>
            <a href="{{ .RelPermalink }}">
              {{ .LinkTitle }}
            </a>
          <ul>
          {{ range .Pages }}
            <li>
              {{- partial "list_page_title" . -}}
            </li>
          {{- end -}}
          </ul>
        </li>
      {{- end -}}
      {{- range $pages -}}
        <li>
          {{- partial "list_page_title" . -}}
        </li>
      {{- end -}}
    </ul>
  </main>
{{ end }}
