{{ define "main" }}
  <main class="container">
    {{ if .Site.Params.options.breadCrumb -}}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {{ partial "main/breadcrumb" . -}}
        </ol>
      </nav>
    {{ end }}
    <article>
      <h1>{{ .Title }}</h1>
      {{- if or .Params.show_date .Params.show_authors -}}
        <p class="small text-muted mb-4">

        {{- if .Params.show_date -}}
          published at {{ .Date.Format "2006-01-02" -}}
          {{- if .Params.authors -}}
            {{- ", " -}}
          {{- else -}}
            {{- "." -}}
          {{- end -}}
        {{- end -}}

        {{- if and .Params.show_authors .Params.authors -}}
          {{- if gt (len .Params.authors) 1 -}}
            by:
            <ul>
            {{- range .Params.authors -}}
              <li>
                {{- $author := . -}}
                {{- $name := index (index (findRESubmatch `(?s)(.+)\s+(\<.*\>)` $author) 0) 1 -}}
                {{- $email := index (index (findRESubmatch `(?s)(.+)\s+(\<.*\>)` $author) 0) 2 -}}
                  {{- if $email -}}
                    <a href="mailto:{{ $email }}">
                      {{- $name -}}
                    </a>
                  {{- else -}}
                    {{- $author -}}
                  {{- end -}}
              </li>
            {{- end -}}
            </ul>
          {{- else -}}
            by{{" "}}
            {{- $author := (index .Params.authors 0) -}}
            {{- $name := index (index (findRESubmatch `(?s)(.+)\s+(\<.*\>)` $author) 0) 1 -}}
            {{- $email := index (index (findRESubmatch `(?s)(.+)\s+(\<.*\>)` $author) 0) 2 -}}
            {{- if $email -}}
              <a href="mailto:{{ $email }}">
                {{- $name -}}
              </a>
            {{- else -}}
              {{ $author -}}
            {{- end -}}
            .
          {{- end -}}
        {{- end -}}
        </p>
      {{- end -}}
      {{ .Content }}
    </article>
  </main>
{{ end }}
