{{ define "main" }}
  <main class="container">
    {{ if .Site.Params.options.breadCrumb -}}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {{ partial "main/breadcrumb" . -}}
          <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
        </ol>
      </nav>
    {{ end }}
    <article>
      <h2>{{ .Title }}</h2>
      <p>{{ .Content }}</p>
      {{/* <footer class="text-muted">{{ .Date.Format "2006-01-02" }}</footer> */}}
    </article>
  </main>
{{ end }}
