{{ define "main" }}
  <section class="section container-fluid mt-3 pb-3">
    <div class="row justify-content-center">
      <div class="hero col-lg-12 text-center">
        <img src="{{ "favicon.png" | absURL }}" />
        <h1>
          Simple<span class="highlight">K8s</span>
        </h1>
      </div>
      <div class="col-lg-9 col-xl-8 text-center">
        <p class="lead">
          A lightweight Linux distribution for effortless Kubernetes clusters.
        </p>
      </div>
    </div>
  </section>
{{ end }}
