<div class="container">
  <header class="header">
    <a href="/" class="header-logo">
      <img src="{{ "/favicon.png" | relURL }}" height="24px" alt="SimpleK8s logo"/>
      Simple<span class="highlight">K8s</span>
    </a>
    <ul class="nav">
      {{- $current := . }}
      {{ range (sort .Site.Menus.main "Weight" "desc") -}}
        {{- $active := and (eq $current.RelPermalink "/") (eq .URL "/") -}}
        {{- $active = or $active (and (ne .URL "/") (hasPrefix $current.RelPermalink .URL)) -}}
        <li>
          <a
            href="{{ if hasPrefix .URL `http` }}{{ .URL }}{{ else }}{{ .URL | relURL }}{{ end }}"
            class="{{ if $active }}active{{ end }}"
            aria-current="page"
          >
            {{ .Name }}
          </a>
        </li>
      {{ end -}}
      <button class="btnToggleTheme" type="button" title="Toggle theme">
        <div class="icon">
          🕶️
        </div>
      </button>
    </ul>
  </header>
</div>
