.alert {
  &.alert-info::before {
    content: "📌 ";
  }
  &.alert-warning:before {
    content: "⚠️ ";
  }

  p:first-child {
    display: inline-block;
  }

  *:last-child {
    @extend .mb-0;
  }
}
