ol, ul, dl {
    margin-bottom: 2rem;
}

.highlight pre {
    padding: 0.5em;
    border-radius: 0.5em;
    color:#f8f8f2;
    background-color:#272822;
    tab-size:4;
}

blockquote {
    @extend .blockquote;
    @extend .bg-secondary-subtle;
    @extend .border-start;
    @extend .border-5;
    @extend .ps-3;
    @extend .pe-3;
    @extend .pt-1;
    @extend .pb-1;
}
