$colorAlmod: #FAE0C6;
$colorMintGreen: #CBF3F0;

ol, ul, dl {
    margin-bottom: 2rem;
}

.highlight pre {
    padding: 0.5em;
    border-radius: 0.5em;
    color:#f8f8f2;
    background-color:#272822;
    tab-size:4;
}
